
.parcel-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px; /* Space between the form and the map */
  width: 90vw; /* Make the container 90% of the viewport width */
  max-width: 1200px; /* Set a maximum width to prevent it from becoming too wide */
  margin: 0 auto;
}

.form-wrapper {
  flex: 1; 
}

.map-wrapper {
  flex: 3; 
}
