/* Ogólny styl kontenera formularza */
.new-activation-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
}

/* Nagłówek formularza */
.new-activation-code-container h2 {
    color: #013220;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Styl formularza */
.new-activation-code-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styl dla pól formularza */
.new-activation-code-container form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

/* Efekt focus na polach */
.new-activation-code-container form input:focus {
    border-color: #a8ffb3; /* Zielony kolor przy focusie */
    outline: none;
}

/* Przycisk formularza */
.new-activation-code-container form button {
    width: 100%;
    background-color: rgb(250, 175, 55); /* Pomarańczowy przycisk */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.new-activation-code-container form button:hover {
    background-color: rgb(220, 140, 40); /* Ciemniejszy pomarańczowy przy hoverze */
}

/* Komunikaty o błędach */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

/* Komunikaty o sukcesie */
.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}
