/* Ogólne stylizacje dla całej aplikacji */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /*overflow: hidden; /* Zapobiega przewijaniu, jeśli tło jest większe niż ekran */
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Wysokość widoku */
  width: 100vw; /* Szerokość widoku */
  background-color: #f4f4f4; /* Jasnoszare tło dla całej strony */
  /*background-image: url('./assets/background.jpg'); !* Ścieżka do zdjęcia *!*/
  background-size: cover; /* Dopasowanie zdjęcia do rozmiarów ekranu */
  background-position: center; /* Wyśrodkowanie zdjęcia */
  background-repeat: no-repeat; /* Zapobieganie powtarzaniu zdjęcia */
  text-align: center; /* Wyśrodkowanie tekstu */
}

/* Stylizacja dla głównego nagłówka */
h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 30px;
}

/* Stylizacja dla kontenera przycisków */
.buttons-container {
  display: flex;
  flex-direction: column; /* Przyciski pod sobą */
  gap: 15px; /* Odstęp między przyciskami */
}

/* Stylizacja dla przycisków */
button {
  /*background-color: yellow; !* Żółte tło przycisków *!*/
  color: black;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efekt hover dla przycisków */
button:hover {
  /*background-color: orange;*/
  color: white;
}

/* Stylizacja formularza */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Przezroczyste białe tło dla formularza */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* Dopasowanie szerokości formularza */
  max-width: 500px; /* Maksymalna szerokość formularza */
}

/* Stylizacja dla pól formularza */
input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

/* Stylizacja dla wiadomości o sukcesie/ błędach */
p {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}